* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}
/*CARD*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 375px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}
/*Img header*/
.card-header > img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
/*CARD CONTENT BODY*/
.card-content-body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 20px;
}
.card-content-body > h1{
  font-weight: 900;
}
.card-content-body p,
.cancel-order {
  color: hsl(224, 23%, 55%);
}
.card-content-body p,
.card-content-body a {
  font-size: 1em;
}
/*ANNUAL PLAN SECTION*/
.annual-plan-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
}
/*PLAN PRICING*/
.plan-pricing {
  display: flex;
  flex-direction: column;
}
.plan-pricing > h4 {
  font-weight: 900;
}
/*ANNUAL PLAN SECTION*/
.annual-plan-section > a:hover,
.cancel-order:hover,
.plan-pricing > h4,
.card-content-body > h1 {
  color: hsl(223, 47%, 23%);
}
.annual-plan-section > a:hover,
.payment-button {
  text-decoration: none;
}
.annual-plan-section > a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}
/*PAYMENT BUTTON*/
.payment-button {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 900;
  padding: 15px 0;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 10px 15px lightgrey;
}
.payment-button:hover {
  background-color: hsl(223, 47%, 62.5%);
}
.cancel-order {
  font-weight: 900;
  text-decoration: none;
}
/*RESPONSIVE*/
@media(max-width:375px){
  body {
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
}